extends layout 
 
block content 
  h1= title 
    if(toShow == null)
    h2 No instances to detail 
  else 
  - let dogsid = toShow._id 
  - let breed = toShow.Dog_breed 
  - let dogage = toShow.age 
  - let dogname = toShow.Dog_name 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{dogsid} 
  - let actionid = "/resource/dogs/"+dogsid 
  form(id='dogsForm', action= actionid, method="PUT") 
    div.form-group 
        label.dogsAttr(for='dogs_type') dogs breed 
        input#dogs_type(type='text', name='dogs_type', value= breed ) 
    div.form-group 
        label.dogsAttr(for='size') dogs age 
        input#age(type='number', name='size', value= dogage ) 
    div.form-group 
        label.dogsAttr(for='dogname') dogs name 
        input#dogname(type='text', name='dogname', value= dogname ) 
    input(type="submit") 
 
  script. 
    document.forms['dogsForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 