extends layout 
 
block content 
  h1= title 
  if(toShow == null)
    h2 No instances to detail 
  else 
  - let dogsid = toShow._id 
  - let Dog_breed  = toShow.Dog_breed 
  - let age = toShow.age 
  - let Dog_name = toShow.Dog_name 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{dogsid} 
  - let actionid = "/resource/dogs/"+dogsid 
  form(id='dogsForm', action= actionid, method="PUT") 
    div.form-group 
        label.dogsAttr(for='Dog_breed') dogs breed 
        input#Dog_breed(type='text', name='Dog_breed', value= Dog_breed ) 
    div.form-group 
        label.dogsAttr(for='age') dogs age 
        input#age(type='number', name='age', value= age ) 
    div.form-group 
        label.dogsAttr(for='Dog_name') dogs name 
        input#Dog_name(type='text', name='Dog_name', value= Dog_name ) 
    input(type="submit") 
 
  script. 
    document.forms['dogsForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 